In [ ]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/cleaned_books.csv")

In [3]:
df = df.drop(["Unnamed: 0", "bookID", "isbn", "isbn13", "language_code", "thumbnail", \
                      "description"], axis=1)

In [7]:
df.head()

,title,authors,average_rating,ratings_count,text_reviews_count,publication_date,publisher,categories,published_year,num_pages
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,2095690,27591,9/16/2006,Scholastic Inc.,Juvenile Fiction,2015.0,652.0
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,2153167,29221,9/1/2004,Scholastic Inc.,Juvenile Fiction,2015.0,870.0
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,6333,244,11/1/2003,Scholastic,Juvenile Fiction,2003.0,352.0
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,2339585,36325,5/1/2004,Scholastic Inc.,Juvenile Fiction,2015.0,435.0
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,41428,164,9/13/2004,Scholastic,Juvenile Fiction,2004.0,2690.0

In [ ]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df

In [ ]:
# Set features. This will also be used as your x values.
selected_features = df[[#column names]]

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'your_name.sav'
joblib.dump(your_model, filename)